<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferreyros</title>
    <link rel="icon" type="image/x-icon" href="img/logoF.png">
    <link rel="stylesheet" type="text/css" href="css/fonts/css/styles.css">
</head>
<body>

    <!--Inicio de la cabecera-->
    <header id="header">  
        <div id="logotipo">
            <img src="img/png-transparent-caterpillar-inc-mapleton-organization-heavy-machinery-company-eight-miscellaneous-text-logo.png" alt="logotipo">
            <h1>
                <a href="www.google.com.pe">Ferreyros</a>
                
               </h1>



        </div>



    </header>


    <!-- fin de la cabecera-->

    <!--Menpu de navegación-->
    <nav id="nav">
        <ul>

            <li>

                <a href="/indexc">Inicio</a>


            </li>
            <li>

                <a href="index.html">Contenido</a>


            </li><li>

                <a href="index.html">Quiénes Somos</a>


            </li><li>

                <a href="index.html">Registro de Cliente</a>


            </li><li>

                <a href="index.html">Registro de pedido</a>


            </li>

            
            <li>

                <a href="index.html">Monitorear Pedidos</a>


            </li>

            
            <li>

                <a href="index.html">Solicitar mantenimiento</a>


            </li>

            
            <li>

                <a href="index.html">Galería de flotas</a>


            </li>

            
            <li>

                <a href="index.html">Blog</a>


            </li>

            
            <li>

                <a href="index.html">FAQ</a>


            </li>



        </ul>






    </nav>


    <!--Fin del menú de navegación-->








    
</body>




</html>